{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}bienvenido{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">nombre</label>
    <input name="username" id="username" required>
    <label for="password">gmail</label>
    <input name="username2" id="username" required>
    <label for="username">contraseña</label>
    <input type="password" name="password" id="password" required>
    <label for="ConfiContra">Confirmar Contraseña</label>
    <input type="password" name="password2" id="password" required>

  </form>
{% endblock %}
